body{
	background-color: #E0F2F1;
	margin: 0;
	padding: 0;

	position: relative;
	min-height: 100vh;

	font-family: Verdana;

	padding-bottom: 200px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */

	overflow-y: scroll;
}

menu, footer{
	background-color: #009688;
	display:block;
	color:white;
	padding:20px;
	text-align: center;
}

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */

	-moz-box-shadow: 0px -3px 5px 0px #004D40;
	-webkit-box-shadow: 0px -3px 5px 0px #004D40;
	-o-box-shadow: 0px -3px 5px 0px #004D40;
	box-shadow: 0px -3px 5px 0px #004D40;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#004D40, Direction=90, Strength=5);
}

footer > *{
	display: inline-block;
	vertical-align: middle;
}

footer .insert{
	text-align: left;
}

footer img{
	width:75px;
}

menu{
	-moz-box-shadow: 0px 3px 5px 0px #004D40;
	-webkit-box-shadow: 0px 3px 5px 0px #004D40;
	-o-box-shadow: 0px 3px 5px 0px #004D40;
	box-shadow: 0px 3px 5px 0px #004D40;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#004D40, Direction=180, Strength=5);
}

menu > span{
	color:white;
	text-decoration: none;
	margin: 0 10px;

	cursor:pointer;
}
menu > span > *{
	vertical-align: middle;
}
menu > span .fa{
	margin-right: 5px;
}
menu > span{
	font-size:1.3em;
}
menu > span .fa-2x{
	font-size: 1.5em;
}

section.content{
	max-width:800px;
	min-width:320px;
	width:80%;

	margin: auto;
}

.projets [data-go=projets]{
	text-decoration: underline;
}
.competences [data-go=competences]{
	text-decoration: underline;
}
.parcours [data-go=parcours]{
	text-decoration: underline;
}