.language{
	width:40%;
	min-width:300px;
	display:inline-block;
	margin:0 4%;
	vertical-align:top;
}
.language > *{
	display: inline-block;
	vertical-align: middle;
}
.language img{
	margin: 20px 5px;
}
.language h1{
	padding:0;
	margin:0;
	margin-bottom:20px;
}
.language .level{
	width:230px;
}
.progress-bar{
	width:100%;
	background-color:#B2DFDB;
	height:6px;
	position:relative;
}
.progress-bar .bar{
	background-color:#009688;
	position:absolute;
	top:0;
	left:0;
	height:100%;
}
.progress-bar .pin{
	font-size:10pt;
	background-color:white;
	display:inline-block;
	height:30px;
	width:40px;
	text-align:center;
	line-height:30px;
	border-radius:3px;
	position:absolute;
	top:-13px;
	-webkit-transform:translate(-50%, 0);
	transform:translate(-50%, 0);

	-moz-box-shadow: 0px 0px 5px 0px #656565;
	-webkit-box-shadow: 0px 0px 5px 0px #656565;
	-o-box-shadow: 0px 0px 5px 0px #656565;
	box-shadow: 0px 0px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
}

.piechart{
	text-align: center;
}
.piechart > *{
	display: inline-block;
	vertical-align: middle;
}
.piechart ul li{
	margin: 15px;
	text-align: left;
	list-style-type: none;
}
.piechart ul li span{
	width:25px;
	height:10px;
	display: inline-block;
	margin-right: 10px;
}

.competences .content > h1{
	margin-top:35px;
}